---
import { Button, Heading } from 'astro-garden';
import SeedPeeview from 'astro-garden/SeedPreview.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
		<style is:global>
			h {
				display: block;
				font-size: 2em;
				font-weight: bold;
				margin-block: 0.67em;
			}
		</style>
	</head>

	<body>
		<Heading>Welcome to Astro</Heading>
		<Button>Plain Button</Button>
	</body>
</html>
